brotli==1.0.9
chardet==4.0.0
cryptography==3.4.8
Cython==0.29.24
fastapi==0.68
ipaddr==2.2.0
keyring==23.2.1
mock==4.0.3
mypy_extensions==0.4.3
numpy==1.21.2
ordereddict==1.1
protobuf==3.18.0
pydantic==1.8.2
pyOpenSSL==20.0.1
simplejson==3.17.5
SQLAlchemy==1.4.23
starlette>0.14
unicodedata2==13.0.0.post2
wincertstore==0.2
uvicorn>0.9
